<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721932790053-q3l9dbn45f7i9p8ni7bcsij85akk8jic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721932790053-q3l9dbn45f7i9p8ni7bcsij85akk8jic</string>
	<key>API_KEY</key>
	<string>AIzaSyAS7yEQyIklMjRRmUMFHsW4UQ4HMfWf7l0</string>
	<key>GCM_SENDER_ID</key>
	<string>721932790053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desayscode.FreeFitness</string>
	<key>PROJECT_ID</key>
	<string>freefitnessall</string>
	<key>STORAGE_BUCKET</key>
	<string>freefitnessall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721932790053:ios:110bc698576ce8fa0ed2cc</string>
</dict>
</plist>